#root{
    align-items: center;
    margin: auto;
    width: 40%;
}
.heading{
    color: red;   
    text-align: center;
}
#logo{
    margin: auto;
    text-align: center;
}
img{
    width: 50%;
}
#list{
    margin-top: 35px;
    text-align: center;
}
#list input{
    width: 30%;
    height: 33px;
    outline: none;
}
#list button{
    padding: 10px;
    height: 40px;
    width: 8%;
}
#ul{
    margin-top: 35px;
    width: 20%;
    margin-left: 500px;
}